@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
body {
  font-weight: 100;
  font-family: "Montserrat", sans-serif;
}

.cursor-pointer {
  cursor: pointer;
}

input:focus {
  outline: none;
}
